[hub]
    protocol = https
[credential]
	helper = /opt/boxen/bin/boxen-git-credential
[core]
	excludesfile = /opt/boxen/config/git/gitignore
[user]
	name = juliendsv
	email = julien.dasilva@gmail.com
[color]
    ui = true
[github]
    user = juliendsv
[alias]
    co = checkout
    sub = submodule update --init --recursive
    st = status
    ci = commit
    s = stash save -u
    sp = stash pop
    ss = stash show -v
    pretty-log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit